/* ===========FontStyle========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 1440px;
    padding: 10px;
    display: flex;
    padding: 40px;
}
/* .logo{
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 200px;
} */
.text p{
    color: Black;
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.navbar{
    display: flex;
    margin-left: 500px;
}

.nav ul li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #0A0826;
}
.nav ul li a:hover{
    color: red;
}
.container{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.influencer-left{
    flex: 1;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 20px;
    /* margin-top: 2%; */

}
.influencer-left a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: #E02C6D;
    border-radius: 41px;
    
}
.fa-arrow-right{
    color: white;

}
.influencer-title{
    font-size: 30px;
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.influencer-title::before{
    content: 'Start My Journey as Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color: #E02C6D;
    animation: typing 10s linear infinite;
}
@keyframes typing {
    0% {
        content: 'Start ';
    }

    10% {
        content: 'Start My ';
    }

    20% {
        content: 'Start My Journey ';
    }

    30% {
        content: 'Start My Journey as ';
    }

    40% {
        content: 'Start My Journey as Influencer ';
    }

    50% {
        content: 'Start My Journey as  ';
    }

    60% {
        content: 'Start My Journey ';
    }

    70% {
        content: 'Start My ';
    }

    80% {
        content: 'Start ';
    }

    /* 90% {
        content: ' ';
    } */

    100% {
        content: ' ';
    }

    
}
/* .influencer-left h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
} */
.influencer-right{
    margin-left: 50px;
    margin-top: 20px;

}


.influencer-right .image{
    margin-right: 60px;
    float: left;
    margin-top: 30px;
    width: 440px;
    height: 414px;
    width: 100%;

}
.influencer-right{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    /* position: absolute; */
}

/* logo section */
hr{
    opacity: 0.4;
}
.marketplace-area{
    height: 80px;
    margin-top: 70px;

}
.marketplace{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: space-between;
    justify-content: center;
    padding: 30px;
}
.marketplace img{
    padding: 0 30px;
}

/* Collection Area  */
.collection-area{
    width: 1200px;
    justify-content: center;
    margin-left: 63px;

}
.title{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 26px;

}
.collection .card{
    padding: 20px;
}

.card{
        margin: 0 auto;
        box-shadow: 5px 5px 5px 5px #888888;
        border-radius: 5px;
        padding: 5px;
        width: 329px;
        height: 476px;
        overflow: hidden;
}
.card .card-image{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px 0;
    /* width: 300px; */
    height: 256px;
}
.card-title{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
    line-height: 10px;
}
.details{
    margin-left: 10px;
    line-height: 20px;
    
}
.details .price{
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
/* .card-info span{
    font-size: 14px;
    font-weight: bold;
} */
.fa-star{
    font-size: 12px;
}
.fa-star.fill{
    color: #FFC014;
}
.fa-star-half-alt{
    font-size: 12px;
    color:#FFC014 ;
}
.see-more a{
    text-decoration: none;
    float: right;
    margin-top: 30px;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 16px;
}
.fa-long-arrow-alt-right{
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
}
.bonus-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
.bonus-left{
    flex: 1;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 20px;
    margin-top: 7%;

}
.influencer-left img{
    width: 440px;
    height: 414px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 50px;
}
.bonus-right{
    margin-left: 100px;
    flex: 1;
    margin-top: 7%;
    padding-top: 70px;

}
.bonus-title{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: rgba(224, 44, 109, 0.87);


}
.bonus-details p{
    color: #787885;
}
.bonus-right a{
    text-decoration: none;
    margin-top: 50px;
    color: white;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
}

/* Footer Area styles  */
footer{}

.footer{
    padding-right: 0;
    background-color: #0A0826;
}
.footer h3{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.copyright-area{
    padding: 20px 5px;
    text-align: center;
    color: white;
}
.social-container{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.fa-instagram{
    color: red;
   
}
.fa-facebook{
    color: blue;
}
.fa-linkedin{
    color: cyan;
}
.fa-twitter{
    color: darkblue;
}


/* Media Querry */
@media only screen and (max-width:688px) {
    .container,.influencer-left,.button{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }

    .marketplace-area{
        width: 100%;

    }
    .marketplace{
        grid-template-columns: repeat(4,1fr);
        flex-direction: column;
    }
     .collection{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        
    }
    .bonus-part{
        width: 100%;
    }
    .bonus-left,.bonus-right,.button{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }        
        }

        /* medium device */
@media only screen and (min-width:689px) and (max-width:992px){

    .marketplace-area{
        width: 100%;

    }
    .marketplace{
        grid-template-columns: repeat(5,1fr);
        flex-direction: column;
    }
    .collection{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    
}